
<header class="nav">
	<ul class="nav__list">
		<span class="nav__logo"><a href="#"><img src="assets/img/logo.png"></a></span>
		<li><a ui-sref="home">Cara Kerja</a></li>
        <li><a ui-sref="workspace">Tempat Gawe</a></li>
        <li><a href="#">Bisnis</a></li>
        <li><a ui-sref="acount-panel">Kontak</a></li>
        <li><a zf-open="signIn">Masuk</a></li>
        <li><a ng-click="Logout()">Keluar</a></li>
	</ul>
</header>
<section class="subsection bg--gray">
	<div class="subsection__content wrapper">
		<h1 class="subsection__title">Panel Akun</h1>
		<div class="subsection__form">
			<form>
				<div class="row align-center">
					<div class="small-12 columns">
						<div class="profile-picture">
							<img src="assets/img/profile_picture_kevin.png">
						</div>
						<p class="mt30">Randi Winarbisono</p>	
					</div>
					<a href="#" class="btn btn__action btn--green" ui-sref="form">Edit Profil &amp; Resume</a>
				</div>
			</form>
		</div>
	</div>
</section>
<section class="formsection bg--white">
	<div class="formsection__content wrapper">
		<h1 class="formsection__title">Tempat Gawe Terlamar</h1>
		<div class="row align-center mb50">
			<form class="small-12 medium-8 columns">
				<div class="form-group search__form">
					<input type="text" placeholder="Cari pekerjaan, tempat, dsb">
					<i class="fa fa-search"></i>
				</div>
			</form>
		</div>
		<div class="row small-up-1 medium-up-2 large-up-3">
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
			<div class="column">
				<div class="item__workspace">
					<a href="">
						<div class="item__image" style="background-image:url(assets/img/ic_holysmokes.png">
						</div>
						<div class="item__detail">
							<div class="detail__name">Holy Smokes</div>
							<div class="detail__more">Restoran | Jakarta Selatan</div>
						</div>
						<div class="bg__overlay"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<a href="#" class="btn btn__action btn--orange mt30 ">Selanjutnya
					<i class="fa fa-arrow-circle-down"></i>
				</a>
			</div>
		</div>
	</div>
</section>
<div zf-modal="" id="signIn" animation-in="slideInDown" animation-out="slideInUp" class="large">
	<div class="row">
		<div class="small-12 columns">
			<form role="form">
				<div class="modalbox__title">Masuk ke Gawean</div>
				<div class="form-group">
					<input type="text" placeholder="Email" ng-model="formInfo.Email">
					<span ng-show="nameRequired">{{nameRequired}}</span>
				</div>
				<div class="form-group">
					<input type="password" placeholder="Password" ng-model="formInfo.Password">
					<span ng-show="passwordRequired">{{passwordRequired}}</span>
				</div>
				<div class="row">
					<div class="small-6 columns">
						<div class="form-group">
							<div class="input--group text-left">
								<div class="input--inline">
									<input id="check1" type="checkbox" name="check" value="check1">
									<label class="checkbox" for="check1">Ingat Saya</label>
								</div>
							</div>
						</div>
					</div>
					<div class="small-6 columns">
						<div class="text-right"><a href="#">Lupa Password?</a></div>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn__reveal btn__full btn--green" ng-click="Login()">Masuk</button>
				</div>
			</form>
			<div class="form-group">
				<button class="btn btn__reveal btn__full btn--facebook"><i class="fa fa-facebook-official"></i>Masuk dengan Facebook</button>
			</div>
			<div class="text-center mt30">Belum punya akun Gawean?<br>Daftar Yuk!</div>
			<div class="text-center mt10 mb20">
				<button class="btn btn__action btn--blue">Daftar</button>
			</div>
		</div>
	</div>
	<button zf-close="" class="close-button" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>